#news-title {
    color: white;



}

#news {
    font-size: clamp(1rem, 1vw + 1rem, 1.5rem);
    font-weight: lighter;
    margin: 0;
    padding-top: 2rem;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    /* align-items: center; */
    background-color: black;

}

/* #news-content,
.twitter-link {
    color: white;
    font-size: clamp(0.875rem, 0.5vw + 0.875rem, 1.125rem);


} */